@model Product

@{
    ViewData["Title"] = "Edit Product";
}

<div class="container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" hidden />
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Edit Category</h2>
                <hr />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="YearOfRelease" class="control-label"></label>
                <input asp-for="YearOfRelease" class="form-control" />
                <span asp-validation-for="YearOfRelease" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ListPrice" class="control-label"></label>
                <input asp-for="ListPrice" class="form-control" />
                <span asp-validation-for="ListPrice" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PriceMoreThen3" class="control-label"></label>
                <input asp-for="PriceMoreThen3" class="form-control" />
                <span asp-validation-for="PriceMoreThen3" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PriceMoreThen10" class="control-label"></label>
                <input asp-for="PriceMoreThen10" class="form-control" />
                <span asp-validation-for="PriceMoreThen10" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Update" class="btn btn-primary" style="width:150px" />
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}