@model int

<div class="container">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        <h4>Your Order Number is :  @Model</h4>
    </div>
</div> 

